Django>=5.2,<6
djangorestframework
djangorestframework-simplejwt
python-dotenv
PyJWT
# MySQL drivers: choose one
# mysqlclient is native C extension (recommended for production)
mysqlclient
# Alternatively for Windows development you can use PyMySQL (pure python)
# PyMySQL

# Optional helpers
dj-database-url

django-cors-headers
